@import "tailwindcss";

:root {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
}


@theme inline {
  --color-primary: var(--color-primary);
  --color-background-light: var(--color-background-light);
}


@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

.st0{fill:#1a237e;}
.st1{fill:#aaa;}

